.canvas-style {
    width: 570px;
    height: 440px;
    margin-left: 10px;
    margin-top: 3px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 6px;
}

#colorPicker {
    appearance: none;
    width: 24px;
    height: 24px; 
    border: none; 
    border-radius: 0;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 2px;
}

/* Adjustments for WebKit browsers */
#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

#colorPicker::-webkit-color-swatch {
    border: none;
}

.add-btn {
    padding: 8px 15px;
    margin: 5px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
}

.open-button {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #1c1b1b;
    color: #F3FFFA;
    cursor: pointer;
    justify-content: right;
}

.canvas-rounded-square {
    width: 600px;
    height: 500px;
    background-color: #151515;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 30px 50px 30px 50px;
    overflow: hidden;
}

.canvas-title-bar {
    background-color: #000000;
    width: calc(105% - 20px); /* Adjust the width calculation */
    height: 40px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    z-index: 10;
}

.canvas-widget-content {
    flex: 1;
    padding: 5px;
}

.title-text {
    color: #F3FFFA;
    margin: 5px;
}